/* 전체 선택자 */
*{
    color: gray;
}

/* 태그 선택자 */
h1{
    color: black;
}

/* 16진수 -빨강 .color1 가장많이씀! */
.color1{
    /* color: #ff0000; */
    color: #f00;    
}
/* 10진수 -파랑 .color2 */
.color2{
    color: rgb(0,0,255);
}
/* 10진수 투명도 -파랑 0:투명 0.5:반투명 1:불투명*/
.color3{
    color:rgba(0,0,255,0.5);
}
/* hsla */
.color4{
    /* color: rgb(222,1,255,1); */
    color: hsla(288, 100%, 50%, 1);
}
.color{
    color: #ff00ff;
}
#idColor{
    color: cornflowerblue;
}