/* 모든 요소의 글자색 #333 */
/* body안에 글자 기본 크기는 20px */
body{
    color: #333;
    font-size: 20px;
}
/* h1 가운데 정렬 */
h1{
    text-align: center;
}
/* .pos 오른쪽 정렬 글자크기를 기준 0.9em */
.pos{
    /* end는 right와 같음 */
    text-align: end;
    font-size: 0.7em;
}
/* h2 글자색 변경, 글씨체 */
h2{
    font-family:"바탕", serif;
}
/* .bigText 글자크기30px 글자를 두껍게 */
.bigText{
    font-size: 1.5em;
    font-weight: bolder;
}
/* .text 글자색 #666 글자크기 1.2em */
.text{
    colot:#666;
    font-size: 1.2rem;
}
/* .decoText 밑줄 기울기 줄간격*/
.decoText{
    text-decoration-color: hotpink;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    font-style: italic;
    line-height: 2;
}
/* #idText 자간, 들여쓰기 */
#idText{
    letter-spacing: 10px;
    text-indent: 50px;
    text-transform:capitalize;
}