p{
    background-color: pink;
    width: 400px;
    height: 100px;
}
/* 테두리 주면 크기변함. 너비420됨 */
.box1{
    border: 10px solid black;
}
.box2{
    border-right: 5px dashed blue;
}
.box3{
    border-radius: 30px;
}
/* 왼쪽위부터 적용(10px)>오른쪽으로 시계방향으로 적용됨. */
.box4{
    border-radius: 10px 50px;
}
.box5{
    border-radius: 20px 30px 50px;
}
.box6{
    border-radius: 0px 10px 30px 50px;
}
.box7{
    border-top-left-radius: 30px;
}
.box8{
    border-radius: 10px/50px;
}
.box9{
 /* 원 */
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.box10{
    border: 10px solid;
    border-image-source: url(../images/icon.png);
    border-image-repeat: stretch;
    border-image-slice: 30;
}