#mainBanner{
    width: 1600px;
    margin: 0 auto;
}

.banner>li{
    /* position: relative; */
}
.banner>li>a{
    position: relative;
    display: block;
}
.text{
    background: rgba(0,0,0,0.8);
    padding: 50px 100px;
    font-size: 35px;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* top: 50%;
    transform: translateY(-50%); */
}