body{
    background: #999;
    padding: 50px;
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd1af+0,5abf01+100 */
background: rgb(191,209,175); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(191,209,175,1) 0%, rgba(90,191,1,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(191,209,175,1) 0%,rgba(90,191,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(191,209,175,1) 0%,rgba(90,191,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd1af', endColorstr='#5abf01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

box-shadow: 1px 1px 2px rgba(255,255,255,0.6) inset,
2px 2px 3px rgba(0,0,0,0.5);
line-height: 1;
}
.btn>strong{
    display: block;
    font-size: 15px;
    padding-top: 7px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
.btn>span{
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}