/*pc 1280~1920*/
body {
    background: pink;
}

.ipad,
.mobile {
    display: none;
}

#container {
    width: 100%;
    padding: 20px;
    background-color: #ccc;
    box-sizing: border-box;
    overflow: hidden;
}

#container>div {
    width: 45%;
    height: 100px;
    margin: 0 2.5%;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
}


@media screen and (max-width:1279px) {
    body {
        background: skyblue;
    }

    .pc {
        display: none;
    }

    .ipad {
        display: block;
    }

    #container>div {
        width: 100%;
        float: none;
        margin: 0;
    }
}

@media screen and (max-width:767px) {
    body {
        background: green;
    }

    .mobile {
        display: block;
    }

    .ipad {
        display: none;
    }
}