
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-rect:before { content: '\f314'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */
